p{
    font-family:  sans-serif, Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: bolder;
    font-variant: small-caps;
    font-size: 5vw;
}

/* font style variant family size weight size and family are mandatory*/