.header {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    &__menus {
      display: flex;
      list-style-type: none;
    }
    &__link {
      margin-right: 20px;
      font-size: 14px;
      &.active > a{
          color: #673ab7;
      
      }
    }
    
  }